* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.modern-antiqua-regular {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  font-size: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  color: #002840;
  font-family: Modern Antiqua;
}

#image {
  height: 30vw;
  width: 70vw;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
